@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-near-midnight.css") screen and (prefers-color-scheme: dark);
@import './common/base.css';
@import './common/blockquote.css';
@import './common/badge.css';
@import './common/calc.css';