@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-wide.css");

@import './common/base.css';
@import './common/form.css';

@import './common/layout.css';
@import './themes/columns.css';

.a-button {
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
  color: white !important;
  border-left: 1px solid white;
  font-weight: 700;
  font-size: 14px;
}

.a-button--calculator {
  background: rgb(55, 127, 210);
}

.a-button--clipboard {
  background-color: gray;
}


.btn {
  padding: 5px 10px;
  border-radius: 10px;
  border-width: 0px;
}

.btn--primary {
  background-color: var(--form-color-primary);
  color: white;

  &:hover {
    background-color: brightness(1.75);
  }
}

.badge {
  display: flex;
  gap: 5px;
  font-size: 1rem;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.main-header {
  background: black;
  color: white;
  fill: white;
  padding: 5px 5px;
}

.hidden {
  display: none;
}


details.solution {
  background: #ffffff;
  border: 1px solid black;
  /* border-radius: 5px; */
}

details.solution summary {
  background-color: #2e2e2e;
  color: white;
  padding: 5px 10px;
  /* border-radius: 5px; */
}

details[open].solution summary {
  /* border-radius: 5px 5px 0 0; */
}

details.solution div {
  padding: 5px 10px;
}

h0 {
  display: block;
  padding: 10px;
  /* color: var(--theme-foreground-muted); */
  border-left-color: var(--theme-foreground-fainter);
  background-color: var(--theme-background-alt);
  text-align: center;
}
h0:not(:first-of-type){
  margin-top: 10px 
}

.root {
  padding: 20px;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}