@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-wide.css");
@import './stacks.css';

@media print {
  #observablehq-center, #observablehq-main,
  .observablehq-center, .observablehq-main,
  .observablehq .observablehq--block {
    margin: 0px;
  }
}
:root {
  --form-color-primary: #3498DB;
  --form-color-right: lightgreen;
  --form-color-error: Salmon;
}

[data-tippy-root] {
  display:inline;
}
pre {
  margin: 0px;
}
img {
  max-width: 100%;
  height: auto;
}
.avoid {
  break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  break-inside: avoid; 
  clear: both;
}

* {
  clear:both;
}


h0, h1 {
  padding: 5px 0px 2px 0px;
  text-align:center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

h0 {
   display: block;
   background: lightgray;
}



h2 > span:first-of-type {
  float:left;
  margin-right: 1rem;
  font-size: 2rem;
}
h2 {
   font-size: 1.2rem;
}
h3
{
  font-size: 1rem;
}

.form-group {
  margin:5px 0px;
}
.form-group-label {
  font-size: 13px;
}
.form-control {
 display: flex;
 gap: 5px;

 label > p {
   padding: 0px;
   margin: 4px;
 }
}
.answer {
 padding-left: 5px;
 border-left: 5px solid var(--form-color-primary);
 &:hover {
   border-color: brightness(1.75);
 }
}
.answer-true {
 padding-left: 5px;
 border-left: 5px solid var(--form-color-right);
  &:hover {
   border-color: brightness(1.75);
 }
}
.answer-false {
 padding-left: 5px;
 border-left: 5px solid var(--form-color-error);
  &:hover {
   border-color: brightness(1.75);
 }
}
.answer-text--right {
 background: var(--form-color-right);
}
.answer-text--wrong {
 background: var(--form-color-error);    
 text-decoration: line-through;;
}
.btn {
 padding: 5px 10px;
 border-radius: 10px;
 border-width: 0px;
 
}
.btn--primary {
 color: white;
 background: #3498DB;
 &:hover {
   background: brightness(1.75);
 }
}