@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-wide.css");
@import './stacks.css';

@media print {

  #observablehq-center,
  #observablehq-main,
  .observablehq-center,
  .observablehq-main,
  .observablehq .observablehq--block {
    margin: 0px;
  }
}

:root {
  --form-color-primary: #3498DB;
  --form-color-right: lightgreen;
  --form-color-error: Salmon;
}

[data-tippy-root] {
  display: inline;
}

pre {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}


.break-before-page {
  break-before: page;
  orphans: 4;
  widows: 4;  
}
.use-columns {
  orphans: 4;
  widows: 4;  
}
.break-inside-avoid-column {
  break-inside: avoid-column;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  break-inside: avoid;
  clear: both;
}

* {
  clear: both;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

h0,
h1 {
  padding: 5px 0px 2px 0px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

h0 {
  display: block;
  background: lightgray;
}



h2>span:first-of-type {
  float: left;
  margin-right: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.form-group {
  margin: 5px 0px;
}

.form-group-label {
  font-size: 13px;
}

.form-control {
  display: flex;
  gap: 5px;

  label>p {
    padding: 0px;
    margin: 4px;
  }
}

.answer {
  padding-left: 5px;
  border-left: 5px solid var(--form-color-primary);

  &:hover {
    border-color: brightness(1.75);
  }
}

.answer-true {
  padding-left: 5px;
  border-left: 5px solid var(--form-color-right);

  &:hover {
    border-color: brightness(1.75);
  }
}

.answer-false {
  padding-left: 5px;
  border-left: 5px solid var(--form-color-error);

  &:hover {
    border-color: brightness(1.75);
  }
}

.answer-text--right {
  background: var(--form-color-right);
}

.answer-text--wrong {
  background: var(--form-color-error);
  text-decoration: line-through;
  ;
}

.img-button {
  height: 28px;
}

.a-button {
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
  color: white !important;
  border-left: 1px solid white;
  background: #0078d4;
  font-weight: 700;
  font-size: 14px;
}



.button {
  display: inline-block;
  position: relative;
  padding: 2px 5px;
  font-size: 3rem;
}

.button__badge {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 2px;


  padding: 1px 3px;
  font-size: 18px;

  position: absolute;

  &.button__badge--top {
    top: 0;
    right: 0;
  }

  &.button__badge--bottom {
    bottom: 0;
    right: 0;
  }
}
.btn {
  padding: 5px 10px;
 border-radius: 10px;
 border-width: 0px;
 
}
.btn--primary {
  background-color: var(--form-color-primary);
  color: white;
  &:hover {
     background-color: brightness(1.75);
  }
}
.floating-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.bg-white {
  background: white;
}
.badge {
  display: flex;
  gap: 5px;
  font-size: 1rem;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.hidden {
  display:none;
}