.h-stack {
  display:flex;

  &.h-stack--xs {
    gap: 2px;
  }
  &.h-stack--s {
    gap: 5px;
  }
  &.h-stack--m {
    gap: 8px;
  }
  &.h-stack--l {
    gap: 16px;
  }
  &.h-stack--wrap {
    flex-wrap: wrap;
  }    
}

.grow {
  flex-grow:1
}