.badge {
  display:inline;
  white-space: nowrap;
  border-radius: 16px;
  padding: 2px 8px;
  font-weight: 700;
  background-color: var(--theme-foreground);
  color: var(--theme-background);
  height: max-content;
}

.badge--warning {
  background-color: color-mix(in srgb, var(--theme-yellow), var(--theme-background) 90%);
  color: var(--theme-yellow);
}

.badge--danger {
  background-color: color-mix(in srgb, var(--theme-red), var(--theme-background) 90%);
  color: var(--theme-red);
}


.badge--input {
  background-color: color-mix(in srgb, var(--theme-blue), var(--theme-background) 70%);
  color: var(--theme-blue);
}
.badge--deduce {
    background-color: color-mix(in srgb, var(--theme-green), var(--theme-background) 70%);
    color: var(--theme-green);
}
.badge--output {
  background-color: color-mix(in srgb, var(--theme-yellow), var(--theme-background) 70%);
  color: var(--theme-yellow);
}

.badge--large {
  font-size: 24px;
}
