@media print {
  #observablehq-center,
  #observablehq-main,  
  .observablehq-center,
  .observablehq-main,
  .observablehq .observablehq--block {
    margin: 0px;
  }

  audio {
    display: none;
  }

  #observablehq-toc {
    display: none;
  }
}


img,
video {
  max-width: 100%;
  height: auto;
}

body {
  word-break: break-word;
}