@media print {
  #observablehq-center,
  #observablehq-main,  
  .observablehq-center,
  .observablehq-main,
  #observablehq-header,
  .observablehq .observablehq--block {
    margin: 0px;    
  }

  #observablehq-header{
    padding: 0px;
  }

  audio {
    display: none;
  }

  #observablehq-toc,
  #observablehq-header
  {
    display: none;  
  }

  
  .no-print {
    display: none;
  }
}


img,
video {
  max-width: 100%;
  height: auto;
}

body {
  word-break: break-word;
}