

.a-button {
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  padding: 2px 5px;  
  font-weight: 700;
  font-size: 16px;
  /* border: 2px solid var(--theme-background-alt); */
  color: var(--theme-background) !important;
  background: var(--theme-foreground);
}
.a-button--secondary {
  background: var(--theme-foreground-fainter);
}

.btn {
  padding: 5px 10px;
  border-radius: 10px;
  border-width: 0px;
}
.btn--dual {
  display: inline-flex;
  padding: 0px;
  cursor: pointer;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;

}

.btn--primary {
  color: white;
  background-color: var(--form-color-primary);

  &:hover {
    background-color: brightness(1.75);
  }
}

.btn__left-part {
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 0px; */
  padding: 10px;
  color: white;
  background-color: #555555;

  
  &:hover {
    background-color: brightness(1.75);
  }

}
.btn__right-part {
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 0px; */
  padding: 10px;  
  color: white;
  background-color: #74aa9c;

  &:hover {
    background-color: brightness(1.75);
  }
}

.btn--calc {  
  padding: 5px 10px;
  min-width: 70px;
  max-width: 200px;
  flex:1 1 auto;
}


                