.proof {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}

.node {
  padding-left: 20px;
}

.node.leaf {
  padding-left: 5px;
}

@media (min-width: 1200px) {
  .node {
    padding-left: 0px;
  }
}

.premises {
  flex-direction: column;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  border-left: 1px solid var(--theme-foreground);
}
@media (min-width: 1200px) {
  .premises {
    flex-direction: row;
    align-items: flex-end;
    border-left: none;
    gap: 2px;
  }
}

.conclusion {
  border: 1px solid var(--theme-foreground);
  padding-left: 5px;
  display: inline-flex;
}

.ri {
  flex-grow: 1;
}

@media (min-width: 1200px) {
   .le {
    flex-grow: 1;
  }
}